PORT=5022
NODE_ENV=development

# Database Configuration
DB_URL=

# JWT Authentication
JWT_SECRET=

# Client Application
CLIENT_URL=

# Admin Defaults
ADMIN_EMAIL=

# SMTP / Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Currencies CDN & Cron
INR_CURRENCIES_CDN=https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/inr.json

# Default Organization
DEFAULT_ORG_NAME=Nick Dev
DEFAULT_ORG_EMAIL=nickdev@yopmail.com
DEFAULT_ORG_PASSWORD=Admin@123

# Default HR User
DEFAULT_HR_CODE=HR_001
DEFAULT_HR_FIRST_NAME=HR
DEFAULT_HR_LAST_NAME=Manager
DEFAULT_HR_EMAIL=hr-nick-dev@yopmail.com
DEFAULT_HR_JOB_TITLE=HR Manager
DEFAULT_HR_PASSWORD=Admin@123
